@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-tab-transition {
    overflow: unset !important;

    .v-window__container {
        block-size: auto !important;
    }

    .v-window-item:not(.v-window-item--active) {
        display: none !important;
    }

    .v-window__container .v-window-item {
        transform: none !important;
    }
}
